{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <figure class="media" aria-label="Stellody logo">
      <img
        src="/static/stellody-logo.png"
        alt="Stellody logo"
        style="width: 200px; height: auto"
      />
    </figure>

    <p>
      Stellody is a play on words; Stellar and Melody<br />
      Discover new music from your local music and create playlists organised by genre.<br />
      Demo license is for 14 days and only supports a maximum of 3 source artists including various
      artists from your music library for playlist generation.
    </p>

    <p>
      Please note that the demo license will create a genre oriented playlists that will not
      necessarily be related to your interests since you only have a small set of data as a source.
    </p>

    <p>All licenses usually issued within a few hours; occasionally up to 1-2 business days.</p>

    <h1>License Tiers:</h1>
    <ul>
      <li>Demo (Free, 14 days): limited to 3 source artists</li>
      <li>Standard (£25): up to 50 source artists.</li>
      <li>Professional (£50): unlimited source artists.</li>
      <li>
        NOTE: The demo tier can produce less-personal recommendations because it uses a smaller dataset.
      </li>
    </ul>

    <div class="button-row button-row--equal center" style="margin-top: 14px">
      <a
        class="button button--primary"
        href="/contact?subject=Demo%20license%20request&message=Please%20provide%20me%20with%20a%20demo%20license.%20%20Thank%20you!"
      >
        Request Demo License
      </a>
      <a class="button" href="/standard-license">Standard License</a>
      <a class="button" href="/pro-license">Professional License</a>
    </div>

    <div class="button-row center">
      <a class="button" href="/downloads/stellody_installer.exe">
        Download for Windows
      </a>
      <a class="button" href="/downloads/stellody.flatpak">
        Download for Linux
      </a>
      <a class="button" href="/downloads/stellody.dmg">
        Download for Mac
      </a>
    </div>
  </div>
{% endblock %}

